h1 {
  background-color: #ffc0cb;
  margin: 4rem 2rem 0;
}

p {
  text-align: center;
  background-color: #ffe4e1;
  margin: 1rem 2rem;
}

span {
  background-color: #ffe4e1;
}

@media only screen and (min-width: 38em) {

  h1 {
    margin: 4rem 5rem 0;
  }

  p {
    margin: 1rem;
  }

}

@media only screen and (min-width: 60em) {

  p {
    text-align: center;
    margin: 1rem 1rem 0 0;
  }

}
