h1 {
  font-family: "Merriweather", serif;
  background-color: #ffc0cb;
  margin: 4rem 2rem 0;
}

p {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  background-color: #ffe4e1;
  margin: 1rem 2rem;
}

span {
  font-family: "Merriweather", serif;
  background-color: #ffe4e1;
}

@media only screen and (min-width: 25em) {

  h1 {
    background-color: #ffe4e1;
    margin: 4rem 2rem 0;
  }

  p {
    text-align: center;
    background-color: #ffc0cb;
    margin: 1rem 2rem;
  }

  span {
    background-color: #ffc0cb;
  }

}

@media only screen and (min-width: 38em) {

  h1 {
    background-color: #ffc0cb;
    margin: 4rem 5rem 0;
  }

  p {
    background-color: #ffe4e1;
    margin: 1rem;
  }

  span {
    background-color: #ffe4e1;
  }

}

@media only screen and (min-width: 60em) {

  h1 {
    background-color: #ffe4e1;
  }

  .you {
    margin-right: 5rem;
  }

  .sun {
    margin-right: 5rem;
  }

  p {
    text-align: center;
    background-color: #ffc0cb;
    margin: 1rem 1rem 0 0;
  }

  span {
    background-color: #ffc0cb;
  }

  hr {
    margin: .5rem 5rem .5rem;
  }

  .home {
    padding: 0;
    margin-bottom: 2rem;
  }

}

@media only screen and (min-width: 90em) {

  h1 {
    margin: 0;
  }

  .you {
    margin-right: 13rem;
  }

  .sun {
    margin-right: 13rem;
  }

  p {
    text-align: center;
    margin: 1rem 8rem 0 0;
  }

  hr {
    margin: 1rem 5rem;
  }

  .home {
    padding: 0;
    margin-bottom: 2rem;
  }

}
